<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}"
      th:with="active='proveedores'">
<head>
    <title th:text="${titulo}">Proveedor</title>
</head>
<body>

<div layout:fragment="content">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 th:text="${titulo}">Proveedor</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a th:href="@{/}">Inicio</a></li>
                        <li class="breadcrumb-item"><a th:href="@{/proveedores}">Proveedores</a></li>
                        <li class="breadcrumb-item active" th:text="${titulo}">Formulario</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="card card-navy">
                <form th:action="@{/proveedores/guardar}" th:object="${proveedor}" method="post">
                    <input type="hidden" th:field="*{id}" />
                    <input type="hidden" th:field="*{activo}" />

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>RUC *</label>
                                    <input type="text" class="form-control" th:field="*{ruc}" required maxlength="11">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>Razón Social *</label>
                                    <input type="text" class="form-control" th:field="*{razonSocial}" required style="text-transform: uppercase;">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Dirección</label>
                                    <input type="text" class="form-control" th:field="*{direccion}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Teléfono</label>
                                    <input type="text" class="form-control" th:field="*{telefono}">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" class="form-control" th:field="*{email}">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Contacto (Vendedor)</label>
                            <input type="text" class="form-control" th:field="*{contacto}" placeholder="Nombre de quien nos atiende">
                        </div>
                    </div>

                    <div class="card-footer text-right">
                        <a th:href="@{/proveedores}" class="btn btn-default">Cancelar</a>
                        <button type="submit" class="btn btn-navy"><i class="fas fa-save"></i> Guardar Proveedor</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>

</body>
</html>
